# Question: Analyse a small dataset using python, documenting the step by step process of the data analysis journey.

## 1. importing python liberary

In [1]:
# importing a pandas liberary
import pandas as pd

## 2. uploading the dataset

In [2]:
# uploading excel dataset
zahdid = pd.read_excel(r"C:\Users\Dell\Documents\dont delete\3mtt practice\mean mode median.xlsx")

## 3. displaying the dataset

In [3]:
# printing the dataset
print(zahdid)

   persons   age
0        1  40.0
1        2   2.0
2        3  47.0
3        4  48.0
4        5  35.0
5        6  26.0
6        7  76.0
7        8  55.0
8        9  48.0
9       10  96.0
10    Mean  47.3
11    Mode  48.0
12  Median  47.5

## 4. viewing first five element in the dataset

In [5]:
# printing header in dataset
zahdid.head()

  persons   age
0       1  40.0
1       2   2.0
2       3  47.0
3       4  48.0
4       5  35.0

## 5. viewing last five element in the dataset

In [6]:
# printing tails in dataset
zahdid.tail()

   persons   age
8        9  48.0
9       10  96.0
10    Mean  47.3
11    Mode  48.0
12  Median  47.5

## 6. viewing information in the dataset

In [7]:
# displaying information in dataset
zahdid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   persons  13 non-null     object
 1   age      13 non-null     float64
dtypes: float64(1), object(1)
memory usage: 340.0+ bytes