## Question: Developing Python Script That Showcases The Basics Learned In Python Programming.

### 1. Creating variables to store information about planet earth and knowing the types of variable.

In [1]:
# creating a variable
planet_name = 'earth'
planet_age = '4.543 billion years'
planet_index = 2
planet_unicode = 'U+1F728'

In [3]:
# printing variables
print(planet_name)
print(planet_age)
print(planet_index)
print(planet_unicode)

earth
4.543 billion years
2
U+1F728

In [4]:
# knowing the types of variables
print(type(planet_name))
print(type(planet_age))
print(type(planet_index))
print(type(planet_unicode))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [10]:
# Another way of knowing the types of variables.
type(planet_name)

str

### 2. Working with a list.

In [11]:
# creating a list of names
lst_names = ['zaharadeen', 'fatima', 'aisha', 'buhari', 'khadija', 'yusuf']

In [12]:
print(lst_names)

['zaharadeen', 'fatima', 'aisha', 'buhari', 'khadija', 'yusuf']

In [13]:
# knowing the number of element in a list
len(lst_names)

6

### 3. Modifying a list.

In [14]:
# adding element to a list
lst_names[1] = 'yakubu'

In [16]:
# calling the variable
lst_names

['zaharadeen', 'yakubu', 'aisha', 'buhari', 'khadija', 'yusuf']

In [17]:
# Adding element to a list using insert function
lst_names.insert(1, 'fatima')

In [18]:
# calling the variabe
lst_names

['zaharadeen', 'fatima', 'yakubu', 'aisha', 'buhari', 'khadija', 'yusuf']

In [19]:
# Adding to a list using append function
lst_names.append('maimuna')

In [20]:
# calling variabe to see output
lst_names

['zaharadeen',
 'fatima',
 'yakubu',
 'aisha',
 'buhari',
 'khadija',
 'yusuf',
 'maimuna']

In [21]:
# Removing element in a list using remove function
lst_names.remove('yusuf')

In [22]:
lst_names

['zaharadeen', 'fatima', 'yakubu', 'aisha', 'buhari', 'khadija', 'maimuna']

In [23]:
# Removing element in a list using pop function
lst_names.pop()

'maimuna'

In [25]:
# pop an element in a list using index
pop_yakubu = lst_names.pop(2)

In [26]:
pop_yakubu

'yakubu'

In [27]:
lst_names

['zaharadeen', 'fatima', 'aisha', 'buhari', 'khadija']

In [28]:
# copying a list using copy function
lst_copy = lst_names.copy()

In [29]:
lst_copy

['zaharadeen', 'fatima', 'aisha', 'buhari', 'khadija']

In [30]:
lst_names

['zaharadeen', 'fatima', 'aisha', 'buhari', 'khadija']

In [31]:
# sorting a list
lst_copy.sort()

In [32]:
lst_copy

['aisha', 'buhari', 'fatima', 'khadija', 'zaharadeen']

### 4. Performing simple mathimatical operations.

In [33]:
# simple addition
add_1 = 4 + 4

In [34]:
add_1

8

In [35]:
# simple multiplication
mult_1 = 2 * 2

In [36]:
mult_1

4

In [37]:
# simple division
div_1 = 24 / 2

In [38]:
div_1

12.0

### 5. looping through a list.

In [40]:
# creating a simple for_loop
for name in lst_copy:
    print(name)

aisha
buhari
fatima
khadija
zaharadeen

In [41]:
# Adding a message to a simple for_loop
for names in lst_copy:
    print(f"\n{names}, welcome to voostec")

aisha, welcome to voostec

buhari, welcome to voostec

fatima, welcome to voostec

khadija, welcome to voostec

zaharadeen, welcome to voostec

In [48]:
# using the double print in for_loop to pass a message
for names in lst_copy:
    print(f"\n{names}, welcome to voostec")
print(f"\nThank you for coming everyone, See you next week")

aisha, welcome to voostec

buhari, welcome to voostec

fatima, welcome to voostec

khadija, welcome to voostec

zaharadeen, welcome to voostec

Thank you for coming everyone, See you next week