# QUESTION:- Use pandas to clean and pre-process a messy dataset, documenting the step taking during the cleaning process.

## Uploading a dataset that contains the learning progress of 3mtt fellows

## TASK:
   ###    * Clean the data
   ###    * Document the process
   ###    * Print final result

In [1]:
# importing pandas liberary
import pandas as pd

In [2]:
# importing the dataset from excel
df = pd.read_excel(r"C:\Users\Dell\Documents\dont delete\3mtt practice\3mtt_fellow_progress_list.xlsx")

In [3]:
# Displaying imported dataset
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Learning_Progress(100%)
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,"123 Yalwawa, Dutse, Jigawa",Yes,No,100
1,23/100102,Auwal,Sulaiman,0703-652-9845,"93 Takur Site, Dutse Jigawa",No,Yes,75
2,23/100103,Sulaiman,/Sani,0706-698-5214,298 limawa Dutse Jigawa,N,NaN,50
3,23/100104,Hamza,Aliyu,0904-543-1928,"980 Hakimi, Dutse, Jigawa",Yes,Y,45
4,23/100105,Maryam,Sadiq,0803-678-3464,"123 Takur Addua, Dutse Jigawa",Y,No,100
5,23/100106,Zainab,Ibrahim,0704-762-2467,768 Danmasara Dutse Jigawa,Yes,Yes,95
6,23/100107,Blessing,Ashana,NaN,1209 Hakimi Dutse Jigawa,No,No,85
7,23/100108,Maryam,Sulaiman,0809-678-3469,98 Yalwawa Dutse Jigawa,N,No,90
8,23/100109,Gaddafi,NaN,N/a,123 Yalwawa Dutse Jigawa,Yes,NaN,70
9,23/100110,Abba,Kabir,0808-545-5421,25 Hakimi Dutse Jigawa,Yes,No,60
10,23/100111,Yusuf,Tanimu,NaN,"612 Danmasara, Dutse Jigawa",Yes,No,88
11,23/100112,Buhari,...Sani,0706-695-0392,2394 Hakimi Dutse Jigawa,Y,NaN,99
12,23/100113,Ukhashat,Zakari,0805-543-2345,203 Investment Dutse Jigawa,Yes,N,59
13,23/100114,Tahir,Usman,0813-678-3469,343 Patara Dutse Jigawa,Yes,No,30
14,23/100115,Sani,Isah_,0803-762-2467,214 Abatuwa Dutse Jigawa,N,No,0
15,23/100116,Hassan,Musa-,0906-545-5421,23 Yalwawa Dutse Jigawa,No,N,60
16,23/100117,Murtala,Yunusa,0905-643-9775,121 Yalwawa Dutse Jigawa,Yes,No,90
17,23/100118,Kabir,Yahaya,0706-695-0392,3498 Danmasara Dutse Jigawa,Y,NaN,100
18,23/100119,Dalhat,Gafai,N/a,N/a,N/a,Yes,100
19,23/100120,Uzairu,Ham_za,0816-678-3469,910 Patara Dutse Jigawa,Yes,N,100
20,23/100120,Uzairu,Ham_za,0816-678-3469,910 Patara Dutse Jigawa,Yes,N,100

## Cleaning dataset to standard

### 1.Removing Duplicates

In [4]:
# Removing duplicates from the entire dataset
df = df.drop_duplicates()

In [5]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Learning_Progress(100%)
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,"123 Yalwawa, Dutse, Jigawa",Yes,No,100
1,23/100102,Auwal,Sulaiman,0703-652-9845,"93 Takur Site, Dutse Jigawa",No,Yes,75
2,23/100103,Sulaiman,/Sani,0706-698-5214,298 limawa Dutse Jigawa,N,NaN,50
3,23/100104,Hamza,Aliyu,0904-543-1928,"980 Hakimi, Dutse, Jigawa",Yes,Y,45
4,23/100105,Maryam,Sadiq,0803-678-3464,"123 Takur Addua, Dutse Jigawa",Y,No,100
5,23/100106,Zainab,Ibrahim,0704-762-2467,768 Danmasara Dutse Jigawa,Yes,Yes,95
6,23/100107,Blessing,Ashana,NaN,1209 Hakimi Dutse Jigawa,No,No,85
7,23/100108,Maryam,Sulaiman,0809-678-3469,98 Yalwawa Dutse Jigawa,N,No,90
8,23/100109,Gaddafi,NaN,N/a,123 Yalwawa Dutse Jigawa,Yes,NaN,70
9,23/100110,Abba,Kabir,0808-545-5421,25 Hakimi Dutse Jigawa,Yes,No,60
10,23/100111,Yusuf,Tanimu,NaN,"612 Danmasara, Dutse Jigawa",Yes,No,88
11,23/100112,Buhari,...Sani,0706-695-0392,2394 Hakimi Dutse Jigawa,Y,NaN,99
12,23/100113,Ukhashat,Zakari,0805-543-2345,203 Investment Dutse Jigawa,Yes,N,59
13,23/100114,Tahir,Usman,0813-678-3469,343 Patara Dutse Jigawa,Yes,No,30
14,23/100115,Sani,Isah_,0803-762-2467,214 Abatuwa Dutse Jigawa,N,No,0
15,23/100116,Hassan,Musa-,0906-545-5421,23 Yalwawa Dutse Jigawa,No,N,60
16,23/100117,Murtala,Yunusa,0905-643-9775,121 Yalwawa Dutse Jigawa,Yes,No,90
17,23/100118,Kabir,Yahaya,0706-695-0392,3498 Danmasara Dutse Jigawa,Y,NaN,100
18,23/100119,Dalhat,Gafai,N/a,N/a,N/a,Yes,100
19,23/100120,Uzairu,Ham_za,0816-678-3469,910 Patara Dutse Jigawa,Yes,N,100

### 2. Cleaning dataset column by column

### 2a. Cleaning the Last_Name column

In [24]:
# Removing unwanted characters using strip
df["Last_Name"] = df["Last_Name"].str.strip("123._/-")

In [25]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Yes,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Yes,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Yes,No,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Yes,No,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Yes,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Yes,No,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,No,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,No,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Yes,No,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Yes,N,100,910 Patara,None,None

In [26]:
# Replacing element in dataset
df["Last_Name"] = df["Last_Name"].str.replace("Ham_za", "Hamza")

In [27]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Yes,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Yes,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Yes,No,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Yes,No,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Yes,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Yes,No,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,No,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,No,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Yes,No,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Yes,N,100,910 Patara,None,None

In [28]:
# replacing element with empty string
df["Phone_Number"] = df["Phone_Number"].str.replace("N/a", "")

In [29]:
# replacing element with empty string
df["Phone_Number"] = df["Phone_Number"].str.replace("NaN", "")

In [30]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Yes,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Yes,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Yes,No,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Yes,No,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Yes,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Yes,No,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,No,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,No,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Yes,No,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Yes,N,100,910 Patara,None,None

### 2b. Cleaning address column

In [87]:
# spliting address
df["Address"].str.split(",",)

KeyError: 'Address'

In [14]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,"123 Yalwawa, Dutse, Jigawa",Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,"93 Takur Site, Dutse Jigawa",No,Yes,75,93 Takur Site,Dutse Jigawa,None
2,23/100103,Sulaiman,/Sani,0706-698-5214,298 limawa Dutse Jigawa,N,NaN,50,298 limawa Dutse Jigawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,"980 Hakimi, Dutse, Jigawa",Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,"123 Takur Addua, Dutse Jigawa",Y,No,100,123 Takur Addua,Dutse Jigawa,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,768 Danmasara Dutse Jigawa,Yes,Yes,95,768 Danmasara Dutse Jigawa,None,None
6,23/100107,Blessing,Ashana,NaN,1209 Hakimi Dutse Jigawa,No,No,85,1209 Hakimi Dutse Jigawa,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,98 Yalwawa Dutse Jigawa,N,No,90,98 Yalwawa Dutse Jigawa,None,None
8,23/100109,Gaddafi,NaN,,123 Yalwawa Dutse Jigawa,Yes,NaN,70,123 Yalwawa Dutse Jigawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,25 Hakimi Dutse Jigawa,Yes,No,60,25 Hakimi Dutse Jigawa,None,None
10,23/100111,Yusuf,Tanimu,NaN,"612 Danmasara, Dutse Jigawa",Yes,No,88,612 Danmasara,Dutse Jigawa,None
11,23/100112,Buhari,...Sani,0706-695-0392,2394 Hakimi Dutse Jigawa,Y,NaN,99,2394 Hakimi Dutse Jigawa,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,203 Investment Dutse Jigawa,Yes,N,59,203 Investment Dutse Jigawa,None,None
13,23/100114,Tahir,Usman,0813-678-3469,343 Patara Dutse Jigawa,Yes,No,30,343 Patara Dutse Jigawa,None,None
14,23/100115,Sani,Isah_,0803-762-2467,214 Abatuwa Dutse Jigawa,N,No,0,214 Abatuwa Dutse Jigawa,None,None
15,23/100116,Hassan,Musa-,0906-545-5421,23 Yalwawa Dutse Jigawa,No,N,60,23 Yalwawa Dutse Jigawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,121 Yalwawa Dutse Jigawa,Yes,No,90,121 Yalwawa Dutse Jigawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,3498 Danmasara Dutse Jigawa,Y,NaN,100,3498 Danmasara Dutse Jigawa,None,None
18,23/100119,Dalhat,Gafai,,N/a,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,910 Patara Dutse Jigawa,Yes,N,100,910 Patara Dutse Jigawa,None,None

In [15]:
# Dropping address column after split
df = df.drop(columns = "Address")

In [16]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse Jigawa,None
2,23/100103,Sulaiman,/Sani,0706-698-5214,N,NaN,50,298 limawa Dutse Jigawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse Jigawa,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Yes,Yes,95,768 Danmasara Dutse Jigawa,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi Dutse Jigawa,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa Dutse Jigawa,None,None
8,23/100109,Gaddafi,NaN,,Yes,NaN,70,123 Yalwawa Dutse Jigawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Yes,No,60,25 Hakimi Dutse Jigawa,None,None
10,23/100111,Yusuf,Tanimu,NaN,Yes,No,88,612 Danmasara,Dutse Jigawa,None
11,23/100112,Buhari,...Sani,0706-695-0392,Y,NaN,99,2394 Hakimi Dutse Jigawa,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Yes,N,59,203 Investment Dutse Jigawa,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Yes,No,30,343 Patara Dutse Jigawa,None,None
14,23/100115,Sani,Isah_,0803-762-2467,N,No,0,214 Abatuwa Dutse Jigawa,None,None
15,23/100116,Hassan,Musa-,0906-545-5421,No,N,60,23 Yalwawa Dutse Jigawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Yes,No,90,121 Yalwawa Dutse Jigawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara Dutse Jigawa,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Yes,N,100,910 Patara Dutse Jigawa,None,None

### 2c. Cleaning Street_Address column

In [17]:
# Replacing elements with empty string
df["Street_Address"] = df["Street_Address"].str.replace("Dutse", "")

In [18]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse Jigawa,None
2,23/100103,Sulaiman,/Sani,0706-698-5214,N,NaN,50,298 limawa Jigawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse Jigawa,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Yes,Yes,95,768 Danmasara Jigawa,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi Jigawa,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa Jigawa,None,None
8,23/100109,Gaddafi,NaN,,Yes,NaN,70,123 Yalwawa Jigawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Yes,No,60,25 Hakimi Jigawa,None,None
10,23/100111,Yusuf,Tanimu,NaN,Yes,No,88,612 Danmasara,Dutse Jigawa,None
11,23/100112,Buhari,...Sani,0706-695-0392,Y,NaN,99,2394 Hakimi Jigawa,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Yes,N,59,203 Investment Jigawa,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Yes,No,30,343 Patara Jigawa,None,None
14,23/100115,Sani,Isah_,0803-762-2467,N,No,0,214 Abatuwa Jigawa,None,None
15,23/100116,Hassan,Musa-,0906-545-5421,No,N,60,23 Yalwawa Jigawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Yes,No,90,121 Yalwawa Jigawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara Jigawa,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Yes,N,100,910 Patara Jigawa,None,None

In [19]:
# replacing element with empty string
df["Street_Address"] = df["Street_Address"].str.replace("Jigawa", "")

In [20]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse Jigawa,None
2,23/100103,Sulaiman,/Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse Jigawa,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Yes,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Yes,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Yes,No,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Yes,No,88,612 Danmasara,Dutse Jigawa,None
11,23/100112,Buhari,...Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Yes,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Yes,No,30,343 Patara,None,None
14,23/100115,Sani,Isah_,0803-762-2467,N,No,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa-,0906-545-5421,No,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Yes,No,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Yes,N,100,910 Patara,None,None

### 2d. Cleaning L.G.A column

In [21]:
# replacing element with an empty string
df["L.G.A"] = df["L.G.A"].str.replace("Jigawa", "")

In [22]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Yes,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,/Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Yes,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Yes,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Yes,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Yes,No,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Yes,No,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,...Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Yes,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Yes,No,30,343 Patara,None,None
14,23/100115,Sani,Isah_,0803-762-2467,N,No,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa-,0906-545-5421,No,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Yes,No,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Yes,N,100,910 Patara,None,None

In [35]:
# replacing element with empty string
df["Paying Customer"] = df["Paying Customer"].str.replace("Yes", "Y")

In [36]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,No,Yes,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,No,No,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Y,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,No,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Y,No,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,No,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,No,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,No,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,No,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

### 3a. cleaning paying customer column

In [38]:
# replacing elements in dataset
df["Paying Customer"] = df["Paying Customer"].str.replace("No", "N")

In [39]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,No,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Yes,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,No,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,N,No,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,No,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Y,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,No,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Y,No,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,No,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,No,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,No,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [41]:
# replacing elements in Do_Not_Contact column
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("No", "N")

In [42]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Yes,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Yes,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,N,N,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Y,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Y,N,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Yes,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [44]:
# replacing element in Do_Not_Contact column
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("Yes", "Y")

In [45]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
6,23/100107,Blessing,Ashana,NaN,N,N,85,1209 Hakimi,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Y,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
10,23/100111,Yusuf,Tanimu,NaN,Y,N,88,612 Danmasara,Dutse,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Y,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [47]:
# Dropping NA under phone_number column
df = df.dropna(subset="Phone_Number")

In [48]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
8,23/100109,Gaddafi,NaN,,Y,NaN,70,123 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Y,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [50]:
# Dropping NA under Last_Name column
df = df.dropna(subset="Last_Name")

In [51]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
2,23/100103,Sulaiman,Sani,0706-698-5214,N,NaN,50,298 limawa,None,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
11,23/100112,Buhari,Sani,0706-695-0392,Y,NaN,99,2394 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
17,23/100118,Kabir,Yahaya,0706-695-0392,Y,NaN,100,3498 Danmasara,None,None
18,23/100119,Dalhat,Gafai,,N/a,Y,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [54]:
# Dropping NA from Do_Not_Contact column
df = df.dropna(subset="Do_Not_Contact")

In [55]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
18,23/100119,Dalhat,Gafai,,N/a,Y,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [57]:
# replacing element 
df["Paying Customer"] = df["Paying Customer"].str.replace("N/a", "Y")

C:\Users\Dell\AppData\Local\Temp\ipykernel_9752\570840974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Paying Customer"] = df["Paying Customer"].str.replace("N/a", "Y")

In [58]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
18,23/100119,Dalhat,Gafai,,Y,Y,100,N/a,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [61]:
# replacing elements
df["Street_Address"] = df["Street_Address"].str.replace("N/a", "981 Hakimi")

C:\Users\Dell\AppData\Local\Temp\ipykernel_9752\3420050377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Street_Address"] = df["Street_Address"].str.replace("N/a", "981 Hakimi")

In [62]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
18,23/100119,Dalhat,Gafai,,Y,Y,100,981 Hakimi,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [67]:
# looping through index to remove customers without phone number
for x in df.index:
    if df.loc[x, "Phone_Number"] == "":
        df.drop(x, inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_9752\2858630840.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(x, inplace=True)

In [68]:
# displaying dataset to view changes
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [78]:
# Reseting index due to removed customers
df = df.reset_index()

In [79]:
# displaying dataset to view changes
df

,level_0,index,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,0,0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,1,1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
2,2,3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
3,3,4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
4,4,5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
5,5,7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
6,6,9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
7,7,12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
8,8,13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
9,9,14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
10,10,15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
11,11,16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
12,12,19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [74]:
df.reset_index(drop = True)

,index,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
2,3,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
3,4,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
4,5,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
5,7,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
6,9,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
7,12,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
8,13,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
9,14,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
10,15,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
11,16,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
12,19,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [81]:
# Droping the initial index column 
df = df.drop(columns = "index")

In [82]:
# displaying dataset to view changes
df

,level_0,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
2,2,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
3,3,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
4,4,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
5,5,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
6,6,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
7,7,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
8,8,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
9,9,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
10,10,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
11,11,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
12,12,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None

In [84]:
# Dropping level_0 column
df = df.drop(columns = "level_0")

### Final cleaning result

In [85]:
# displaying dataset as my final cleaning result
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Learning_Progress(100%),Street_Address,L.G.A,State
0,23/100101,Zaharadeen,Yakubu,0703-277-4155,Y,N,100,123 Yalwawa,Dutse,Jigawa
1,23/100102,Auwal,Sulaiman,0703-652-9845,N,Y,75,93 Takur Site,Dutse,None
2,23/100104,Hamza,Aliyu,0904-543-1928,Y,Y,45,980 Hakimi,Dutse,Jigawa
3,23/100105,Maryam,Sadiq,0803-678-3464,Y,N,100,123 Takur Addua,Dutse,None
4,23/100106,Zainab,Ibrahim,0704-762-2467,Y,Y,95,768 Danmasara,None,None
5,23/100108,Maryam,Sulaiman,0809-678-3469,N,N,90,98 Yalwawa,None,None
6,23/100110,Abba,Kabir,0808-545-5421,Y,N,60,25 Hakimi,None,None
7,23/100113,Ukhashat,Zakari,0805-543-2345,Y,N,59,203 Investment,None,None
8,23/100114,Tahir,Usman,0813-678-3469,Y,N,30,343 Patara,None,None
9,23/100115,Sani,Isah,0803-762-2467,N,N,0,214 Abatuwa,None,None
10,23/100116,Hassan,Musa,0906-545-5421,N,N,60,23 Yalwawa,None,None
11,23/100117,Murtala,Yunusa,0905-643-9775,Y,N,90,121 Yalwawa,None,None
12,23/100120,Uzairu,Hamza,0816-678-3469,Y,N,100,910 Patara,None,None